{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="w-50 mx-auto text-center">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Sign in
        </button>
</form>

        <div class="fs-3 mt-5 mb-5">OR</div>

        <div>
            <a href="{{ path('connect_github_start') }}" class="btn btn-success"><img src="{{ asset('logos/github.svg') }}" alt="logo-github" width=20 height=30> Connect with Github</a><br><br>
            <a href="" class="btn btn-dark mb-5"><img src="{{ asset('logos/facebook.svg') }}" alt="logo-github" width=20 height=30> Connect with Facebook</a>
        </div>
        {# Se connecte avec Google #}
        <div id="g_id_onload"
        data-client_id={{ google_id }}
        data-login_uri="https://127.0.0.1:8000/connect/google/check"
        data-auto_prompt="false">
        </div>
        <div class="g_id_signin w-50 mx-auto"
            data-type="standard"
            data-size="large"
            data-theme="filled_blue"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
    </div>
{% endblock %}
